$font-literata: "Literata";
$font-inter: "Inter";
$font-letter-spacing: 0.15rem;

$cont-w: 1180px;
$cont-x-p: 20px;

$white: #fff;
$black: #000;
$light-black: #0E0E0E;
$yellow: #FFBC0F;
$gold: #FFCB8E;