@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700&display=swap");
@font-face {
  font-family: "Ethnocentric";
  font-display: block;
  src: url("../fonts/ethnocentric.ttf");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body,
html {
  min-height: 100vh;
}

body,
html {
  font-family: "Open+Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  line-height: 1;
  background-color: #161616;
  letter-spacing: 0.125rem;
}

body._scroll-lock {
  overflow: hidden;
}

*._container {
  max-width: 1150px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 1110px) {
  *._container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  *._container {
    padding-left: calc((16px) + 4 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  *._container {
    padding-right: calc((16px) + 4 * (100vw - 320px) / 790);
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.default-price {
  font-weight: 700;
  color: #9DFFF3;
}

.default-title {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.01em;
  line-height: 54px;
}
@media (max-width: 1110px) {
  .default-title {
    font-size: 40px;
    line-height: 54px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .default-title {
    font-size: calc((27px) + 13 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .default-title {
    line-height: calc((37px) + 17 * (100vw - 320px) / 790);
  }
}

.default-text {
  font-size: 18px;
  line-height: 24.51px;
}
@media (max-width: 1110px) {
  .default-text {
    font-size: 18px;
    line-height: 24.51px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .default-text {
    font-size: calc((15px) + 3 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .default-text {
    line-height: calc((20.43px) + 4.08 * (100vw - 320px) / 790);
  }
}

.default-btn-light-blue {
  background: #9DFFF3;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.default-btn-light-blue a {
  display: block;
  font-weight: 700;
  color: #161616;
  letter-spacing: 0.085em;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 4px;
}
.default-btn-light-blue:hover {
  background: rgba(255, 255, 255, 0.11);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.31);
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.31);
}
.default-btn-light-blue:hover a {
  color: #9DFFF3;
}
.default-btn-light-blue:active, .default-btn-light-blue:focus {
  background: rgba(157, 255, 243, 0.35);
  -webkit-box-shadow: inset 0 0 0 1px rgba(157, 255, 243, 0.31);
          box-shadow: inset 0 0 0 1px rgba(157, 255, 243, 0.31);
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}
.default-btn-light-blue:active a, .default-btn-light-blue:focus a {
  color: #fff;
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}

.default-btn-dark {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 4px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.default-btn-dark a {
  display: block;
  font-weight: 700;
  font-size: 1.125rem;
  color: #fff;
  letter-spacing: 0.085em;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.31);
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.31);
  border-radius: 4px;
}
.default-btn-dark:hover a {
  color: #9DFFF3;
}
.default-btn-dark:active, .default-btn-dark:focus {
  background: rgba(157, 255, 243, 0.31);
  -webkit-box-shadow: inset 0 0 0 1px rgba(157, 255, 243, 0.53);
          box-shadow: inset 0 0 0 1px rgba(157, 255, 243, 0.53);
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}
.default-btn-dark:active a, .default-btn-dark:focus a {
  color: #fff;
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}

*::-webkit-input-placeholder {
  color: rgba(17, 17, 17, 0.61);
  letter-spacing: 0.125rem;
}

*::-moz-placeholder {
  color: rgba(17, 17, 17, 0.61);
  letter-spacing: 0.125rem;
}

*:-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.61);
  letter-spacing: 0.125rem;
}

*::-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.61);
  letter-spacing: 0.125rem;
}

*::placeholder {
  color: rgba(17, 17, 17, 0.61);
  letter-spacing: 0.125rem;
}

.default-input {
  padding: 10px 28px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 6px;
  color: #000;
  -webkit-transition: -webkit-box-shadow 0.2s ease 0s;
  transition: -webkit-box-shadow 0.2s ease 0s;
  transition: box-shadow 0.2s ease 0s;
  transition: box-shadow 0.2s ease 0s, -webkit-box-shadow 0.2s ease 0s;
}
@media (max-width: 1110px) {
  .default-input {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .default-input {
    font-size: calc((15px) + 3 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .default-input {
    padding-top: calc((12px) + -2 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .default-input {
    padding-bottom: calc((13px) + -3 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .default-input {
    padding-left: calc((15px) + 13 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .default-input {
    padding-right: calc((15px) + 13 * (100vw - 320px) / 790);
  }
}
.default-input:focus {
  -webkit-box-shadow: 0 0 8px 0 #fff;
          box-shadow: 0 0 8px 0 #fff;
}

.default-select .select__input {
  display: none;
}
.default-select .select {
  overflow: hidden;
  border-radius: 6px;
  background-color: #fff;
}
.default-select .select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  gap: 20px;
}
.default-select .select__label .select__title {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: rgba(17, 17, 17, 0.61);
  line-height: 25px;
}
.default-select .select__label .select__btn svg {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  fill: #161616;
  height: 23px;
  width: 14px;
}
.default-select .select__label._active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.default-select .select__label._active .select__title {
  color: #000;
}
.default-select .select__label._active .select__btn svg {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}
.default-select .select__label._active-color .select__title {
  color: #000;
}
.default-select .select__options {
  max-height: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-top: 1px solid black;
}
.default-select .select__options .select__option {
  padding: 8px 28px;
  font-size: 1.125rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #000;
  line-height: 25px;
}
.default-select .select__options .select__option:hover {
  background: rgba(99, 99, 99, 0.3);
  color: #000;
}
.default-select .select__options .select__option._selected {
  background: rgba(0, 0, 0, 0.81);
  color: #9DFFF3;
}

.default-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.default-radio input {
  display: none;
}
.default-radio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.default-radio__item input:checked ~ label {
  -webkit-box-shadow: inset 0 0 0 1px #fff;
          box-shadow: inset 0 0 0 1px #fff;
}
.default-radio__item input:checked ~ label::after {
  background: #fff;
}
.default-radio__item label {
  -webkit-box-shadow: inset 0 0 0 1px #fff;
          box-shadow: inset 0 0 0 1px #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}
.default-radio__item label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: transparent;
  border-radius: 50%;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}
.default-radio__item .default-radio__label {
  color: #fff;
}
.default-radio__btn {
  margin: 0px 10px 0px 0px;
}

.go-to {
  position: fixed;
  --go-to__left: -36.5px;
  top: 50%;
  left: calc(var(--go-to__left) * 2);
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  z-index: 10;
}
@media (max-width: 1300px) {
  .go-to {
    display: none;
  }
}
.go-to ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 236px;
}
.go-to ul li a {
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.39);
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 40px;
  width: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.go-to ul li a:hover {
  color: rgba(255, 255, 255, 0.94);
}
.go-to ul li a:active {
  color: #9DFFF3;
  font-size: 1.1875rem;
}
.go-to ul li a._select {
  font-weight: 700;
  font-size: 1.5625rem;
  color: #fff;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main .main-title {
  position: relative;
  background-color: #161616;
}
.main .main-title__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/main-title__bg.jpg") right bottom/cover no-repeat;
  z-index: 0;
}
@media (max-width: 1111px) {
  .main .main-title__bg {
    background: url("../img/main-title__bg-short.jpg") right bottom/cover no-repeat;
  }
}
.main .main-title__bg-starmax {
  position: absolute;
  bottom: -10px;
  right: -40px;
  width: 294px;
  height: 362px;
  -webkit-transform: scale(2);
          transform: scale(2);
  z-index: 0;
}
@media (max-width: 1111px) {
  .main .main-title__bg-starmax {
    background: url("../img/content/intro-starmax-bg.png") center/contain no-repeat;
  }
}
.main .main-title__container {
  padding-top: 223px;
  padding-bottom: 40px;
  position: relative;
}
@media (max-width: 1110px) {
  .main .main-title__container {
    padding-top: 223px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container {
    padding-top: calc((89px) + 134 * (100vw - 320px) / 790);
  }
}
@media (max-width: 500px) {
  .main .main-title__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.main .main-title__container .main-title__title.title {
  font-family: "Ethnocentric", sans-serif;
  font-size: 115px;
  color: #fff;
  letter-spacing: -0.02em;
  position: relative;
  z-index: 1;
  cursor: text;
  display: inline-block;
}
@media (max-width: 1110px) {
  .main .main-title__container .main-title__title.title {
    font-size: 115px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__title.title {
    font-size: calc((41px) + 74 * (100vw - 320px) / 790);
  }
}
.main .main-title__container .main-title__title.title span {
  position: absolute;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
  cursor: default;
}
.main .main-title__container .main-title__title.title span.title__shadow-1 {
  top: -20px;
  left: 0;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.12);
}
@media (max-width: 1110px) {
  .main .main-title__container .main-title__title.title span.title__shadow-1 {
    top: -20px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__title.title span.title__shadow-1 {
    top: calc((-7px) + -13 * (100vw - 320px) / 790);
  }
}
.main .main-title__container .main-title__title.title span.title__shadow-2 {
  top: -40px;
  left: 0;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.06);
}
@media (max-width: 1110px) {
  .main .main-title__container .main-title__title.title span.title__shadow-2 {
    top: -40px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__title.title span.title__shadow-2 {
    top: calc((-14px) + -26 * (100vw - 320px) / 790);
  }
}
.main .main-title__container .main-title__title.title span.title__shadow-3 {
  top: -60px;
  left: 0;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.03);
}
@media (max-width: 1110px) {
  .main .main-title__container .main-title__title.title span.title__shadow-3 {
    top: -60px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__title.title span.title__shadow-3 {
    top: calc((-21px) + -39 * (100vw - 320px) / 790);
  }
}
.main .main-title__container .main-title__text.default-text {
  margin-top: 36px;
  max-width: 492px;
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  z-index: 1;
}
@media (max-width: 1110px) {
  .main .main-title__container .main-title__text.default-text {
    margin-top: 36px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__text.default-text {
    margin-top: calc((20px) + 16 * (100vw - 320px) / 790);
  }
}
@media (max-width: 500px) {
  .main .main-title__container .main-title__text.default-text {
    text-align: center;
  }
}
.main .main-title__container .main-title__buy {
  margin-top: 53.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 43px;
     -moz-column-gap: 43px;
          column-gap: 43px;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
@media (max-width: 1110px) {
  .main .main-title__container .main-title__buy {
    margin-top: 53.5px;
    -webkit-column-gap: 43px;
       -moz-column-gap: 43px;
            column-gap: 43px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__buy {
    margin-top: calc((29px) + 24.5 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__buy {
    -webkit-column-gap: calc((20px) + 23 * (100vw - 320px) / 790);
       -moz-column-gap: calc((20px) + 23 * (100vw - 320px) / 790);
            column-gap: calc((20px) + 23 * (100vw - 320px) / 790);
  }
}
@media (max-width: 500px) {
  .main .main-title__container .main-title__buy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main .main-title__container .main-title__buy .main-title__price {
  font-size: 50px;
  white-space: nowrap;
}
@media (max-width: 1110px) {
  .main .main-title__container .main-title__buy .main-title__price {
    font-size: 50px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__buy .main-title__price {
    font-size: calc((30px) + 20 * (100vw - 320px) / 790);
  }
}
.main .main-title__container .main-title__buy .main-title__btn a {
  padding: 18px 70px;
  font-size: 20px;
}
@media (max-width: 1110px) {
  .main .main-title__container .main-title__buy .main-title__btn a {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__buy .main-title__btn a {
    padding-top: calc((15px) + 3 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__buy .main-title__btn a {
    padding-bottom: calc((15px) + 3 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__buy .main-title__btn a {
    padding-left: calc((32px) + 38 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__buy .main-title__btn a {
    padding-right: calc((32px) + 38 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__buy .main-title__btn a {
    font-size: calc((17px) + 3 * (100vw - 320px) / 790);
  }
}
.main .main-title__container .main-title__learn-more.learn-more {
  margin-top: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1110px) {
  .main .main-title__container .main-title__learn-more.learn-more {
    margin-top: 240px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .main-title__container .main-title__learn-more.learn-more {
    margin-top: calc((233px) + 7 * (100vw - 320px) / 790);
  }
}
.main .main-title__container .main-title__learn-more.learn-more .learn-more__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main-title__container .main-title__learn-more.learn-more .learn-more__link .learn-more__text {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.085em;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 12px;
}
@media (max-width: 1110px) {
  .main .main-title__container .main-title__learn-more.learn-more .learn-more__link .learn-more__text {
    font-size: calc((10px) + 2 * (100vw - 320px) / 790);
  }
}
.main .main-title__container .main-title__learn-more.learn-more .learn-more__link .learn-more__icon {
  fill: #fff;
  width: 34px;
  height: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 34px;
  height: 15px;
}
@media (max-width: 1110px) {
  .main .main-title__container .main-title__learn-more.learn-more .learn-more__link .learn-more__icon {
    width: calc((26px) + 8 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) {
  .main .main-title__container .main-title__learn-more.learn-more .learn-more__link .learn-more__icon {
    height: calc((12px) + 3 * (100vw - 320px) / 790);
  }
}
.main .main-title__container .main-title__learn-more.learn-more .learn-more__link:hover .learn-more__text {
  color: #9DFFF3;
}
.main .main-title__container .main-title__learn-more.learn-more .learn-more__link:hover .learn-more__icon {
  fill: #9DFFF3;
}
.main .main-title__container .main-title__learn-more.learn-more .learn-more__link:active .learn-more__text, .main .main-title__container .main-title__learn-more.learn-more .learn-more__link:focus .learn-more__text {
  color: #50FFEA;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.main .main-title__container .main-title__learn-more.learn-more .learn-more__link:active .learn-more__icon, .main .main-title__container .main-title__learn-more.learn-more .learn-more__link:focus .learn-more__icon {
  fill: #50FFEA;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.main .vid-review {
  background-color: #161616;
  position: relative;
}
.main .vid-review__bg-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}
@media (max-width: 1110px) {
  .main .vid-review__bg-text {
    top: 0px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .vid-review__bg-text {
    top: calc((45px) + -45 * (100vw - 320px) / 790);
  }
}
.main .vid-review__container {
  padding-top: 105px;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 63px 1fr;
  grid-template-columns: 1.5fr 1fr;
  -webkit-column-gap: 63px;
     -moz-column-gap: 63px;
          column-gap: 63px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1110px) {
  .main .vid-review__container {
    padding-top: 105px;
    padding-bottom: 50px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .vid-review__container {
    padding-top: calc((60px) + 45 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .vid-review__container {
    padding-bottom: calc((30px) + 20 * (100vw - 320px) / 790);
  }
}
@media (max-width: 800px) {
  .main .vid-review__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.main .vid-review__container .vid-review__video.video {
  position: relative;
  width: 100%;
  height: 416px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.45);
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.45);
  border-radius: 9px;
  display: block;
}
@media (max-width: 1110px) {
  .main .vid-review__container .vid-review__video.video {
    height: 416px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .vid-review__container .vid-review__video.video {
    height: calc((248px) + 168 * (100vw - 320px) / 790);
  }
}
@media (max-width: 800px) {
  .main .vid-review__container .vid-review__video.video {
    margin: 30px auto 0;
  }
}
.main .vid-review__container .vid-review__video.video .video__poster {
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  overflow: hidden;
  border-radius: 9px;
}
.main .vid-review__container .vid-review__video.video .video__poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  -webkit-filter: blur(3px) brightness(0.5);
          filter: blur(3px) brightness(0.5);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  opacity: 1;
  visibility: visible;
  border-radius: 9px;
}
@media (max-width: 600px) {
  .main .vid-review__container .vid-review__video.video .video__poster img {
    -webkit-filter: blur(1.5px) brightness(0.5);
            filter: blur(1.5px) brightness(0.5);
  }
}
.main .vid-review__container .vid-review__video.video .video__poster .video__start {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #161616;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (max-width: 1110px) {
  .main .vid-review__container .vid-review__video.video .video__poster .video__start {
    width: 96px;
    height: 96px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .vid-review__container .vid-review__video.video .video__poster .video__start {
    width: calc((57px) + 39 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .vid-review__container .vid-review__video.video .video__poster .video__start {
    height: calc((57px) + 39 * (100vw - 320px) / 790);
  }
}
.main .vid-review__container .vid-review__video.video .video__poster .video__start svg {
  fill: #fff;
  width: 29px;
  height: 48px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (max-width: 1110px) {
  .main .vid-review__container .vid-review__video.video .video__poster .video__start svg {
    width: 29px;
    height: 48px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .vid-review__container .vid-review__video.video .video__poster .video__start svg {
    width: calc((17.22px) + 11.78 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .vid-review__container .vid-review__video.video .video__poster .video__start svg {
    height: calc((28.5px) + 19.5 * (100vw - 320px) / 790);
  }
}
.main .vid-review__container .vid-review__video.video .video__poster .video__start._hidden {
  opacity: 0;
  visibility: hidden;
}
.main .vid-review__container .vid-review__video.video .video__poster:hover img {
  -webkit-filter: blur(2px) brightness(0.53);
          filter: blur(2px) brightness(0.53);
}
.main .vid-review__container .vid-review__video.video .video__poster:hover .video__start {
  -webkit-box-shadow: 0 0 15px 1px #9DFFF3;
          box-shadow: 0 0 15px 1px #9DFFF3;
  -webkit-transform: translate(-50%, -50%) scale(1.025);
          transform: translate(-50%, -50%) scale(1.025);
}
.main .vid-review__container .vid-review__video.video .video__poster:hover .video__start svg {
  fill: #9DFFF3;
}
.main .vid-review__container .vid-review__video.video .video__poster:active img, .main .vid-review__container .vid-review__video.video .video__poster:focus img {
  -webkit-filter: blur(2px) brightness(0.53);
          filter: blur(2px) brightness(0.53);
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}
.main .vid-review__container .vid-review__video.video .video__poster:active .video__start, .main .vid-review__container .vid-review__video.video .video__poster:focus .video__start {
  -webkit-box-shadow: 0 0 15px 1px #50FFEA;
          box-shadow: 0 0 15px 1px #50FFEA;
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
  -webkit-transform: translate(-50%, -50%) scale(0.98);
          transform: translate(-50%, -50%) scale(0.98);
}
.main .vid-review__container .vid-review__video.video .video__poster:active .video__start svg, .main .vid-review__container .vid-review__video.video .video__poster:focus .video__start svg {
  fill: #50FFEA;
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}
.main .vid-review__container .vid-review__video.video .video__poster .video__tip-wrap {
  position: absolute;
  top: 0;
  right: -25px;
}
@media (max-width: 800px) {
  .main .vid-review__container .vid-review__video.video .video__poster .video__tip-wrap {
    right: -25px;
  }
}
@media (max-width: 800px) and (max-width: 1110px) {
  .main .vid-review__container .vid-review__video.video .video__poster .video__tip-wrap {
    right: calc((-5px) + -20 * (100vw - 320px) / 790);
  }
}
.main .vid-review__container .vid-review__video.video .video__poster .video__tip-text {
  font-size: 12px;
  letter-spacing: 0.085em;
  color: #000;
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 16px 19px 15px;
  border-radius: 6px;
}
@media (max-width: 800px) {
  .main .vid-review__container .vid-review__video.video .video__poster .video__tip-text {
    padding-top: 16px;
    padding-bottom: 15px;
  }
}
@media (max-width: 800px) and (max-width: 1110px) {
  .main .vid-review__container .vid-review__video.video .video__poster .video__tip-text {
    padding-top: calc((10px) + 6 * (100vw - 320px) / 790);
  }
}
@media (max-width: 800px) and (max-width: 1110px) {
  .main .vid-review__container .vid-review__video.video .video__poster .video__tip-text {
    padding-bottom: calc((9px) + 6 * (100vw - 320px) / 790);
  }
}
.main .vid-review__container .vid-review__video.video .video__poster .video__tip-decor {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9C9B9B;
  border-radius: 6px;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
.main .vid-review__container .vid-review__video.video .video__file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  visibility: hidden;
  cursor: default;
  border-radius: 9px;
}
.main .vid-review__container .vid-review__video.video .video__file._pause {
  cursor: pointer;
}
.main .vid-review__container .vid-review__video.video._active .video__poster img {
  opacity: 0;
  visibility: hidden;
}
.main .vid-review__container .vid-review__video.video._active .video__file {
  opacity: 1;
  visibility: visible;
}
.main .vid-review__container .vid-review__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.main .vid-review__container .vid-review__content .vid-review__title {
  color: #fff;
}
.main .vid-review__container .vid-review__content .vid-review__text {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.75);
}
.main .vid-review__container .vid-review__content .vid-review__btn {
  margin-top: 30px;
}
@media (max-width: 800px) {
  .main .vid-review__container .vid-review__content .vid-review__btn {
    display: none;
  }
}
.main .vid-review__container .vid-review__content .vid-review__btn a {
  padding: 15px 60px;
}
.main .why-us {
  background-color: #161616;
  position: relative;
}
.main .why-us__bg-text {
  position: absolute;
  top: 410px;
  left: 0;
  width: 100vw;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}
@media (max-width: 1150px) {
  .main .why-us__bg-text {
    top: 46px;
  }
}
@media (max-width: 1150px) and (max-width: 1110px) {
  .main .why-us__bg-text {
    top: calc((96px) + -50 * (100vw - 320px) / 790);
  }
}
.main .why-us__container {
  padding-top: 50px;
  padding-bottom: 27px;
  position: relative;
}
@media (max-width: var(1150px)) {
  .main .why-us__container {
    padding-top: 50px;
    padding-bottom: 27px;
  }
}
@media (max-width: var(1150px)) and (max-width: 1110px) {
  .main .why-us__container {
    padding-top: calc((30px) + 20 * (100vw - 320px) / 790);
  }
}
@media (max-width: var(1150px)) and (max-width: 1110px) {
  .main .why-us__container {
    padding-bottom: calc((30px) + -3 * (100vw - 320px) / 790);
  }
}
.main .why-us__container .why-us__items {
  margin-top: 50px;
  padding-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: column;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  overflow-x: auto;
  position: relative;
  z-index: 1;
}
@media (max-width: 1110px) {
  .main .why-us__container .why-us__items {
    margin-top: 50px;
    padding-bottom: 30px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .why-us__container .why-us__items {
    margin-top: calc((25px) + 25 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .why-us__container .why-us__items {
    padding-bottom: calc((17px) + 13 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .why-us__container .why-us__items {
    -webkit-column-gap: calc((20px) + 10 * (100vw - 320px) / 790);
       -moz-column-gap: calc((20px) + 10 * (100vw - 320px) / 790);
            column-gap: calc((20px) + 10 * (100vw - 320px) / 790);
  }
}
.main .why-us__container .why-us__items .why-us__item.item {
  width: 255px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .why-us__container .why-us__items .why-us__item.item .item__img {
  padding: 13px 15px 0;
  width: 100%;
  height: 164px;
  border-radius: 4px;
}
.main .why-us__container .why-us__items .why-us__item.item .item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.main .why-us__container .why-us__items .why-us__item.item .item__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding: 20px 10px;
}
@media (max-width: 1110px) {
  .main .why-us__container .why-us__items .why-us__item.item .item__content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .why-us__container .why-us__items .why-us__item.item .item__content {
    padding-top: calc((10px) + 10 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .why-us__container .why-us__items .why-us__item.item .item__content {
    padding-bottom: calc((10px) + 10 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .why-us__container .why-us__items .why-us__item.item .item__content {
    padding-left: calc((8px) + 2 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .why-us__container .why-us__items .why-us__item.item .item__content {
    padding-right: calc((8px) + 2 * (100vw - 320px) / 790);
  }
}
.main .why-us__container .why-us__items .why-us__item.item .item__content .item__text {
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.75);
}
.main .why-us__container .why-us__items::-webkit-scrollbar {
  height: 2px;
}
.main .why-us__container .why-us__items::-webkit-scrollbar-track {
  background: #242424;
  border-radius: 100px;
}
.main .why-us__container .why-us__items::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 100px;
}
.main .buy-own {
  background-color: #161616;
  position: relative;
}
.main .buy-own::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: url("../img/content/buy-starmax.png") bottom right/contain no-repeat;
  height: 100%;
  width: 612px;
}
@media (max-width: 1110px) {
  .main .buy-own::before {
    width: 612px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .buy-own::before {
    width: calc((400px) + 212 * (100vw - 320px) / 790);
  }
}
.main .buy-own__container {
  padding-top: 191px;
  padding-bottom: 133px;
  position: relative;
}
@media (max-width: 1110px) {
  .main .buy-own__container {
    padding-top: 191px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .buy-own__container {
    padding-top: calc((30px) + 161 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1000px) {
  .main .buy-own__container {
    padding-bottom: 180px;
  }
}
@media (max-width: 1000px) and (max-width: 1110px) {
  .main .buy-own__container {
    padding-bottom: calc((297px) + -117 * (100vw - 320px) / 790);
  }
}
@media (max-width: 750px) {
  .main .buy-own__container {
    padding-bottom: 297px;
  }
}
.main .buy-own__container .buy-own__content {
  max-width: 519px;
  position: relative;
  z-index: 1;
}
.main .buy-own__container .buy-own__content .buy-own__text {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.75);
}
.main .buy-own__container .buy-own__content .buy-own__buy {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 500px) {
  .main .buy-own__container .buy-own__content .buy-own__buy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 500px) and (max-width: 1110px) {
  .main .buy-own__container .buy-own__content .buy-own__buy {
    -webkit-column-gap: calc((20px) + 10 * (100vw - 320px) / 790);
       -moz-column-gap: calc((20px) + 10 * (100vw - 320px) / 790);
            column-gap: calc((20px) + 10 * (100vw - 320px) / 790);
  }
}
.main .buy-own__container .buy-own__content .buy-own__buy .buy-own__price {
  font-size: 30px;
}
@media (max-width: 1110px) {
  .main .buy-own__container .buy-own__content .buy-own__buy .buy-own__price {
    font-size: 30px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .buy-own__container .buy-own__content .buy-own__buy .buy-own__price {
    font-size: calc((20px) + 10 * (100vw - 320px) / 790);
  }
}
.main .buy-own__container .buy-own__content .buy-own__buy .buy-own__btn a {
  padding: 15px 60px;
  font-size: 18px;
}
@media (max-width: 1110px) {
  .main .buy-own__container .buy-own__content .buy-own__buy .buy-own__btn a {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .buy-own__container .buy-own__content .buy-own__buy .buy-own__btn a {
    padding-left: calc((49px) + 11 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .buy-own__container .buy-own__content .buy-own__buy .buy-own__btn a {
    padding-right: calc((49px) + 11 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .buy-own__container .buy-own__content .buy-own__buy .buy-own__btn a {
    font-size: calc((16px) + 4 * (100vw - 320px) / 790);
  }
}
.main .gallery {
  background-color: #161616;
}
.main .gallery__container {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
@media (max-width: 1110px) {
  .main .gallery__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .gallery__container {
    padding-top: calc((48px) + 2 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .gallery__container {
    padding-bottom: calc((30px) + 20 * (100vw - 320px) / 790);
  }
}
.main .gallery__container::before, .main .gallery__container::after {
  content: "";
  position: absolute;
  width: 100vw;
  border-radius: 100px;
}
.main .gallery__container::before {
  top: 0;
  bottom: auto;
  background-color: rgba(255, 255, 255, 0.08);
  height: 1px;
}
.main .gallery__container::after {
  top: auto;
  bottom: 50px;
  background-color: #242424;
  height: 2px;
}
@media (max-width: 1110px) {
  .main .gallery__container::after {
    bottom: 50px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .gallery__container::after {
    bottom: calc((30px) + 20 * (100vw - 320px) / 790);
  }
}
.main .gallery__container .gallery__items {
  padding-bottom: 36px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 49px;
     -moz-column-gap: 49px;
          column-gap: 49px;
  overflow: auto;
  position: relative;
  z-index: 1;
  cursor: -webkit-grab;
  cursor: grab;
}
@media (max-width: 1110px) {
  .main .gallery__container .gallery__items {
    -webkit-column-gap: 49px;
       -moz-column-gap: 49px;
            column-gap: 49px;
    padding-bottom: 36px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .gallery__container .gallery__items {
    -webkit-column-gap: calc((41px) + 8 * (100vw - 320px) / 790);
       -moz-column-gap: calc((41px) + 8 * (100vw - 320px) / 790);
            column-gap: calc((41px) + 8 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .gallery__container .gallery__items {
    padding-bottom: calc((23px) + 13 * (100vw - 320px) / 790);
  }
}
.main .gallery__container .gallery__items .gallery__item.item .item__img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 4px;
  max-height: 230px;
}
@media (max-width: 1110px) {
  .main .gallery__container .gallery__items .gallery__item.item .item__img {
    max-height: 230px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .main .gallery__container .gallery__items .gallery__item.item .item__img {
    max-height: calc((133px) + 97 * (100vw - 320px) / 790);
  }
}
.main .gallery__container .gallery__items:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.main .gallery__container .gallery__items::-webkit-scrollbar {
  height: 2px;
}
.main .gallery__container .gallery__items::-webkit-scrollbar-track {
  background: #242424;
  border-radius: 100px;
}
.main .gallery__container .gallery__items::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 100px;
}

.footer {
  background-color: #161616;
  position: relative;
}
.footer .footer__container {
  padding-top: 50px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (max-width: 1110px) {
  .footer .footer__container {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .footer .footer__container {
    padding-top: calc((30px) + 20 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .footer .footer__container {
    padding-bottom: calc((60px) + 40 * (100vw - 320px) / 790);
  }
}
.footer .footer__container .footer__title {
  text-align: center;
}
.footer .footer__container .footer__text {
  margin-top: 35px;
  max-width: 471px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}
@media (max-width: 1110px) {
  .footer .footer__container .footer__text {
    margin-top: 35px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .footer .footer__container .footer__text {
    margin-top: calc((20px) + 15 * (100vw - 320px) / 790);
  }
}
.footer .footer__container .footer__icon {
  margin-top: 35px;
}
@media (max-width: 1110px) {
  .footer .footer__container .footer__icon {
    margin-top: 35px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .footer .footer__container .footer__icon {
    margin-top: calc((20px) + 15 * (100vw - 320px) / 790);
  }
}
.footer .footer__container .footer__icon svg {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  fill: #fff;
  width: 68.59px;
  height: 62.38px;
}
.footer .footer__container .footer__icon:hover svg {
  fill: #9DFFF3;
}
.footer .footer__container .footer__icon:active svg {
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  fill: #50FFEA;
}

.buy-product-modal.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.46);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  padding: 40px 20px;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.buy-product-modal.modal._active {
  visibility: visible;
  opacity: 1;
}
.buy-product-modal.modal._active .modal__content {
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  opacity: 1;
}
.buy-product-modal.modal .modal__content {
  max-width: 1024px;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.93);
  padding: 45px 78px;
  -webkit-backdrop-filter: blur(8.5px);
          backdrop-filter: blur(8.5px);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: 8px 8px 19px rgba(0, 0, 0, 0.31);
          box-shadow: 8px 8px 19px rgba(0, 0, 0, 0.31);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  visibility: hidden;
  opacity: 0;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1110px) {
  .buy-product-modal.modal .modal__content {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 78px;
    padding-right: 78px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content {
    padding-top: calc((30px) + 15 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content {
    padding-bottom: calc((30px) + 15 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content {
    padding-left: calc((10.5px) + 67.5 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content {
    padding-right: calc((10.5px) + 67.5 * (100vw - 320px) / 790);
  }
}
.buy-product-modal.modal .modal__content::before {
  content: "STARMAX";
  position: absolute;
  top: 13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Ethnocentric";
  font-size: 100px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.03);
  color: transparent;
  z-index: -1;
}
@media (max-width: 1110px) {
  .buy-product-modal.modal .modal__content::before {
    font-size: 100px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content::before {
    font-size: calc((35px) + 65 * (100vw - 320px) / 790);
  }
}
.buy-product-modal.modal .modal__content .modal__close {
  position: absolute;
  top: 30px;
  right: 37px;
  fill: #fff;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__close {
    width: 30px;
    height: 30px;
    top: 30px;
    right: 37px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__close {
    width: calc((18px) + 12 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__close {
    height: calc((18px) + 12 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__close {
    top: calc((9px) + 21 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__close {
    right: calc((8px) + 29 * (100vw - 320px) / 790);
  }
}
.buy-product-modal.modal .modal__content .modal__close:hover {
  fill: #9DFFF3;
}
.buy-product-modal.modal .modal__content .modal__close:active {
  fill: #50FFEA;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.buy-product-modal.modal .modal__content .modal__title {
  text-align: center;
  padding: 0 30px;
}
@media (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__title {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__title {
    padding-left: calc((0px) + 30 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__title {
    padding-right: calc((0px) + 30 * (100vw - 320px) / 790);
  }
}
.buy-product-modal.modal .modal__content .modal__form.form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form {
    margin-top: 30px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form {
    margin-top: calc((20px) + 10 * (100vw - 320px) / 790);
  }
}
.buy-product-modal.modal .modal__content .modal__form.form .form__text {
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}
.buy-product-modal.modal .modal__content .modal__form.form .form__input-first-name {
  margin-top: 30px;
}
@media (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__input-first-name {
    margin-top: 30px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__input-first-name {
    margin-top: calc((20px) + 10 * (100vw - 320px) / 790);
  }
}
.buy-product-modal.modal .modal__content .modal__form.form .form__input-last-name {
  margin-top: 20px;
}
.buy-product-modal.modal .modal__content .modal__form.form .form__input-tel-num {
  margin-top: 20px;
}
.buy-product-modal.modal .modal__content .modal__form.form .form__delivery-text {
  margin-top: 20px;
  text-align: left;
  color: rgba(255, 255, 255, 0.75);
}
.buy-product-modal.modal .modal__content .modal__form.form .form__delivery {
  margin-top: 16px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.buy-product-modal.modal .modal__content .modal__form.form .form__delivery .delivery__label {
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
}
@media (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__delivery .delivery__label {
    font-size: 18px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__delivery .delivery__label {
    font-size: calc((15px) + 3 * (100vw - 320px) / 790);
  }
}
.buy-product-modal.modal .modal__content .modal__form.form .form__input-department.default-select {
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.buy-product-modal.modal .modal__content .modal__form.form .form__input-department.default-select__input {
  width: 100%;
}
.buy-product-modal.modal .modal__content .modal__form.form .form__input-department.default-select__select.select {
  width: 100%;
}
@media (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__input-department.default-select .select__btn svg {
    height: 23px;
    width: 14px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__input-department.default-select .select__btn svg {
    height: calc((20px) + 3 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__input-department.default-select .select__btn svg {
    width: calc((12px) + 2 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__input-department.default-select .select__label {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__input-department.default-select .select__label {
    font-size: calc((15px) + 3 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__input-department.default-select .select__label {
    padding-top: calc((12px) + -2 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__input-department.default-select .select__label {
    padding-bottom: calc((13px) + -3 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__input-department.default-select .select__label {
    padding-left: calc((15px) + 13 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__input-department.default-select .select__label {
    padding-right: calc((15px) + 13 * (100vw - 320px) / 790);
  }
}
.buy-product-modal.modal .modal__content .modal__form.form .form__btn {
  margin-top: 30px;
}
.buy-product-modal.modal .modal__content .modal__form.form .form__btn a {
  padding: 18px 30px;
  font-size: 20px;
}
@media (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__btn a {
    font-size: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__btn a {
    font-size: calc((16px) + 4 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__btn a {
    padding-top: calc((14px) + 4 * (100vw - 320px) / 790);
  }
}
@media (max-width: 1110px) and (max-width: 1110px) {
  .buy-product-modal.modal .modal__content .modal__form.form .form__btn a {
    padding-bottom: calc((14px) + 4 * (100vw - 320px) / 790);
  }
}
/*# sourceMappingURL=style.css.map */